name = "ArrowMacros"
uuid = "46a4b217-d1c8-4502-9c1a-7bf73a71908c"
authors = ["Giancarlo A. Antonucci"]
version = "0.1.3"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
